.main-div {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90.7deg, #211C24 0.64%, #211C24 101%);
  display: flex;
  overflow: hidden;

  .hero-container {
    width: 714px;
    height: 256px;
    min-width: 400px;
    gap: 24px;
    margin: 188px 566px 188px 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;

    h2 {
      font-family: Inter, serif;
      font-weight: 600;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 40%;
    }

    h1 {
      font-family: Inter, serif;
      font-weight: 100;
      font-size: 96px;
      line-height: 72px;
      letter-spacing: -1%;
      color: #FFFFFF;

      span {
        font-family: Inter, serif;
        font-weight: 600;
        font-size: 96px;
        line-height: 72px;
        letter-spacing: -1%;
      }
    }

    p {
      font-family: Inter, serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
      color: #909090;
    }

    button {
      width: 191px;
      height: 56px;
      padding: 16px 56px;
      background: transparent;
      gap: 8px;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      font-family: Inter, serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      text-align: center;
      justify-content: center;
      color: #FFFFFF;

      &:hover {
        cursor: pointer;
      }
    }

    img {
      width: 406px;
      height: 632px;
      position: absolute;
      left: 100%;
      bottom: -100%;
    }
  }
}

@media (max-width: 1024px) {
  .main-div {
    .hero-container {
      right: 5%;
    }
  }
}

@media (max-width: 768px) {
  .main-div {
    .hero-container {
      right: 20%;
    }
  }
}

@media (max-width: 425px) {
  * {
    padding: 0;
    margin: 0;
  }

  .main-div {
    .hero-container {
      width: 343px;
      height: 344px;
      gap: 32px;
      padding: 88px 16px 337px 16px;
      flex-direction: column;

      img {
        display: none;
      }
    }
  }
}
